@font-face {
  font-family: "Test Söhne";
  src: url("fonts/Sohne-Leicht.woff2") format("woff2"),
    url("fonts/Sohne-Leicht.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Söhne";
  src: url("fonts/subset-Sohne-Buch.woff2") format("woff2"),
    url("fonts/subset-Sohne-Buch.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Söhne";
  src: url("fonts/subset-Sohne-Halbfett.woff2") format("woff2"),
    url("fonts/subset-Sohne-Halbfett.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Söhne";
  src: url("fonts/SohneBreit-Kraftig.woff2") format("woff2"),
    url("fonts/SohneBreit-Kraftig.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
